@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
<<<<<<< HEAD
  background: url("https://images.unsplash.com/photo-1498579809087-ef1e558fd1da?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60")
=======
  background: url("https://images.unsplash.com/photo-1495195134817-aeb325a55b65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60")
>>>>>>> 8b53b8f04c00faa7bbb34069b2f9a3a5406baa24
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#header .title {
  margin: 0;
  padding: 0 1rem;
  color: #ffffff;
}

a {
  text-decoration: unset;
}
